$text-color: #504f4f;
$text-color-2: #646363;

$bg-primary: #fdf6d0;
$bg-primary-dark: #e0d38a;
$bg-disabled: #d8d8d8;

$primary: #61dafb;
$primary-low: #61dafb56;
$secondary: #3b3f46;

$font-kanit: "Kanit", sans-serif;
