.description-container {
  height: 100%;
  // white-space: wrap;
  display: flex;
}
.todo-description {
  // width: calc(100%);
  // width: 100%;
  overflow: hidden;
  // white-space: nowrap;
  // display: inline-block;
  text-overflow: ellipsis;
  color: $text-color-2;

  line-height: 1.5rem;
  &::-webkit-scrollbar {
    display: none;
  }
}
